@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
  font-family: 'Montserrat', sans-serif !important;
}
.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}


.loader-parent{
  position: absolute;
  inset: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 9999 !important;
  background-color: rgba(255, 255, 255, 0.472);
}

.w-50{
  width: 50%;
}
.w-100{
  width: 100%;
}

i{
  font-size: 1.2rem;
  cursor: pointer;
}

.input{
  border : 1px solid rgb(79, 83, 83) !important;
}

.container{
  height: 85vh !important;
}

.mantine-xoj88x{
  height: 100% !important;
  overflow: scroll !important;
}

.auth{
  background-color: #12B886;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}

i{
  font-size: 1.2rem;
}

.red-row {
  background-color: red;
  color: white;
}

.mobile-view-container {
  background-color: #f5f5f5; /* Cor de fundo desejada */
  padding: 1rem; /* Espaçamento interno desejado */
  border-radius: 5px; /* Cantos arredondados */
}

.mobile-view-row {
  background-color: #ffffff; /* Cor de fundo desejada */
  padding: auto; /* Espaçamento interno desejado */
  border-radius: 5px; /* Cantos arredondados */
}

.mobile-view-button {
  background-color: #e0e0e0; /* Cor de fundo desejada */
  margin-right: 0.5rem; /* Margem direita desejada */
}

.complex-swipeable-list__item.spaced {
  margin-bottom: 10px; /* Defina o espaçamento vertical desejado */
}

.disabled-input {
  background-color: #f5f5f5;
  color: #000000;
}

.swipeable-list-item {
  background-color: #ca0000;
  padding: auto;
  border-radius: 5px;
}

.swipeable-list-item .swipe-content {
  background-color: #ca0000;
  color: white;
  display: flex;
  align-items: left;
  padding: auto;
  justify-content: left;
}

.swipeable-list-item .delete-button {
  color: rgb(238, 0, 0);
  background-color: white;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
}

.transaction-list {
  max-width: 400px;
  margin: 0 auto;
}

.transaction {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.transaction .date {
  flex-basis: 30%;
  font-weight: bold;
}

.transaction .name {
  flex-basis: 40%;
}

.transaction .value {
  flex-basis: 30%;
  text-align: right;
}

.no-transactions-message {
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  color: gray;
}

.no-description {

  font-weight: bold;
  color: gray;
  font: italic;
}

.custom-card {
  border-bottom: 2px solid rgb(115, 115, 115);
}

.mobile-container-view {
  width: 100%;
  min-height: 160px;
  background-color: #f5f5f5; /* Cor de fundo desejada */
  padding: 1rem; /* Espaçamento interno desejado */
  border-radius: 10px; /* Cantos arredondados */
  margin: 3px ;
  overflow-y: scroll;
  padding-bottom: 40px;
}

